# CODEOWNERS for uc-mv-code-patterns
#
# This file defines individuals or teams responsible for code in this repository.
# More information: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @AMirskiy @annasviri @tefing

# Owners for the .github directory (workflows, issue templates, etc.)
/.github @AMirskiy @annasviri @tefing

